| <defs>
|   <pattern id="wood" patternContent="objectBoundingBox" width="1" height="2" x="0" y="0" spreadMethod = "repeat"">
|     <image xlink:href="http://images.travelpod.com/users/michaelsavage/1.1242034500.birds-eye-view-into-the-canyon-below.jpg" x="0" y="-10" width="500" height="346" />
|   </pattern>
|   <pattern id="wheat" patternContent="objectBoundingBox" width="1" height="2" x="0" y="0" spreadMethod = "repeat"">
|     <image xlink:href="http://md.all.biz/img/md/catalog/18096.jpeg" x="-50" y="-50" width="400" height="300" />
|   </pattern>
|   <pattern id="sheep" patternContent="objectBoundingBox" width="1" height="2" x="0" y="0" spreadMethod = "repeat"">
|     <image xlink:href="http://4.bp.blogspot.com/_W19ZkFqGT-M/SWrtEqqtnLI/AAAAAAAAAn8/9bXPy_4UC5k/s400/Sheep+moving+on+hill+SM.jpg" x="0" y="-200" width="400" height="300" />
|   </pattern>
|   <pattern id="brick" patternContent="objectBoundingBox" width="1" height="2" x="0" y="0" spreadMethod = "repeat"">
|     <image xlink:href="http://www.publicdomainpictures.net/pictures/10000/nahled/1-122357738099Gn.jpg" x="-50" y="-250" width="615" height="400" />
|   </pattern>
|   <pattern id="desert" patternContent="objectBoundingBox" width="1" height="2" x="0" y="0" spreadMethod = "repeat"">
|     <image xlink:href="http://3.bp.blogspot.com/-87-vnzGa9Po/TiRR2qFWprI/AAAAAAAAAF0/KsfRQhoL5Ds/s1600/SandUDunesUSoft.jpg" x="-80" y="0" width="400" height="300" />
|   </pattern>
|   <pattern id="ore" patternContent="objectBoundingBox" width="1" height="2" x="0" y="0" spreadMethod = "repeat"">
|     <image xlink:href="http://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Olivine_basalt2.jpg/220px-Olivine_basalt2.jpg" x="0" y="0" width="220" height="220" />
|   </pattern>
| </defs>
