.right
  .cards
    .card
      .resource-card
      .card-number.js-resource-number 0
    .card
      .development-card
      .card-number.js-development-number 0
  br.clearBoth
  .points
    .victory-points
      span.descriptor= 'Victory: '
      span.value.js-victory-value 0
    .road-points
      span.descriptor= 'Road: '
      span.value.js-road-value 0
    .army-points
      span.descriptor= 'Army: '
      span.value.js-army-value 0
  br.clearBoth
  h3.name Empty
  .showtrade-container
    .showtrade-popup
      .offer-cards
        .trade-text
          p Offering:
        .cards.trade
          .showtrade-card
            .wheat-card
            .card-number.js-wheat-number 0
          .showtrade-card
            .wood-card
            .card-number.js-wood-number 0
          .showtrade-card
            .sheep-card
            .card-number.js-sheep-number 0
          .showtrade-card
            .brick-card
            .card-number.js-brick-number 0
          .showtrade-card
            .stone-card
            .card-number.js-stone-number 0
      .for-cards
        .trade-text 
          p For:
        .cards.trade
          .showtrade-card
            .wheat-card
            .card-number.js-wheat-number 0
          .showtrade-card
            .wood-card
            .card-number.js-wood-number 0
          .showtrade-card
            .sheep-card
            .card-number.js-sheep-number 0
          .showtrade-card
            .brick-card
            .card-number.js-brick-number 0
          .showtrade-card
            .stone-card
            .card-number.js-stone-number 0
    .trade-actions
      .btn-toolbar
        .btn-group
          button.btn.acceptTrade Accept
        .btn-group
          button.btn.rejectTrade Reject
        .btn-group
          button.btn.counterTrade Counter
  .update-container
    .update-popup
     .update-cards
        .cards.received
          .update-card
            .wheat-card
            .card-number.js-wheat-number 0
          .update-card
            .wood-card
            .card-number.js-wood-number 0
          .update-card
            .sheep-card
            .card-number.js-sheep-number 0
          .update-card
            .brick-card
            .card-number.js-brick-number 0
          .update-card
            .stone-card
            .card-number.js-stone-number 0
          .update-card
            .resource-card
            .card-number.js-resource-number 0