.player.well
  .left
    img(src='http://i.imgur.com/TFOqB.jpg').pic
    h3.name Empty
  .right
    .cards
      .card
        .resource-card
        .card-number.js-resource-number 0
      .card
        .development-card
        .card-number.js-development-number 0
    br.clearBoth
    .points
      .victory-points
        span.descriptor= 'V: '
        span.value.js-victory-value 0
      .road-points
        span.descriptor= 'R: '
        span.value.js-road-value 0
      .army-points
        span.descriptor= 'A: '
        span.value.js-army-value 0
    br.clearBoth
