extends layout

block head
  link(rel='stylesheet', href='/stylesheets/dashboard.css')
  script(src="/javascripts/dashboard.js")

block header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .brand Settle
        ul.nav.pull-right
          li.dropdown
            a(href="#", data-toggle="dropdown").dropdown-toggle.me
              img(src="http://graph.facebook.com/#{user.id}/picture?type=square")
              | #{user.first_name}
              = ' ( '
              span.wins #{user.wins}
              = ' - '
              span.loses #{user.loses}
              = ' ) '
              b.caret
            ul.dropdown-menu
              li
                a(href="\logout") Log Out
block content
  .container
    .row
      .span12
        .page-header
          h1 Current Games
            small
              a.btn(href="/game", style="float:right;").btn-large Create Game
        .row
          .span12
            ul.thumbnails