extends layout

block content
  .container-fluid
  .row-fluid
    .span8
      .board-container
        block board
    .span4
      .info-container
        block player
        block others
        block messages
