extends layout

block content
  .container-fluid
  .row-fluid
    .span7
      .board-container
        block board
    .span5
      .info-container
        block player
        block actions
        block others
        block messages
      .frequency-container
        block bars
        block labels
      .trade-container
        block trade
      .showtrade-container
        block showTrade
