extends layout

block content
  .container-fluid
  .row-fluid
    .span7
      .board-container#boardContainer
        block board
    .span5
      .info-container
        block player
        block actions
        block others
      .frequency-container
        block bars
        block labels
      .update-container#update0
        block updateCards
      .trade-container
        block trade
      .remove-container
        block remove
