extends game-layout

block head
  link(rel='stylesheet', href='/stylesheets/game.css')
  script(src="/javascripts/game.js")

block board
  a#start.btn.btn-primary.btn-large.disabled Waiting...
  include includes/board

block player
  .player.well
    h2 Player 1
    .cardwell
      .cards
      .roll
        <image src="http://www.clker.com/cliparts/6/4/1/6/12456404511653839274badaman_dice.svg.med.png" width="100%"/>
      .trade
        <image src="http://farm4.staticflickr.com/3609/3575000735_6ba08467d9.jpg" width="100%"/>
      .dev_cards
      .end
        <image src="http://www.fuzzimo.com/wp-content/uploads/2009/06/tutorial-StopSign-13.png" width="100%"/>
      .build
        <image src="http://static.ddmcdn.com/gif/hammer-1.jpg" width="100%"/>

block others
  .player.well
    h2 Player 2
  .player.well
    h2 Player 3
  .player.well
    h2 Player 4

block messages
  .well
    h2 Messages
    #messages
    form#messageForm
      input#messageInput(type="text")

block extras
  #buildPopup
    a#popupClose x
    #settlement
      image(src="http://www.visitingdc.com/images/white-house-picture.jpg", width="100%", top="0")
      .buildResource.wood
      .buildResource.brick
      .buildResource.wheat
      .buildResource.sheep
    #city
      image(src="http://www.visitingdc.com/images/white-house-picture.jpg", width="100%", top="0")
      .buildResource.stone
      .buildResource.stone
      .buildResource.stone
      .buildResource.wheat
      .buildResource.wheat
    #road
      image(src="http://www.visitingdc.com/images/white-house-picture.jpg", width="100%", top="0")
      .buildResource.wood
      .buildResource.brick
    #ship
      image(src="http://www.visitingdc.com/images/white-house-picture.jpg", width="100%", top="0")
    #devcard
      image(src="http://www.visitingdc.com/images/white-house-picture.jpg", width="100%", top="0")
      .buildResource.stone
      .buildResource.wheat
      .buildResource.sheep
  #popupBackground
