extends game-layout

block title
  title= 'Game ' + title + ' | Settle'

block head
  link(rel='stylesheet', href='/stylesheets/board.css')
  link(rel='stylesheet', href='/stylesheets/game.css')
  script(src="/javascripts/game.js")

block board
  a#start.btn.btn-primary.btn-large.disabled Waiting...
  #startBackground
  include includes/board

block player
  #player0.player.well
    h2.name Empty
    .cardwell
      .cards
        ul.resource-cards
    .actions
      .btn-toolbar.roll-phase
        .btn-group
          button.btn.roll Roll
        .btn-group
          button.btn.development Development
      .btn-toolrbar.robber-phase
        .btn-group
          button.btn.big Move the Robber
      .btn-toolrbar.steal-phase
        .btn-group
          button.btn.big  Select Player to Steal From
      .btn-toolbar.main-phase
        .btn-group
          button.btn.dropdown-toggle(data-toggle="dropdown")
            | Build <span class="caret" />
          ul.dropdown-menu
            li
              a#settlement
                i.icon-home
                | Settlement
                span.brick &bull;
                span.sheep &bull;
                span.wheat &bull;
                span.wood  &bull;
            li
              a#city
                i.icon-home
                | City
                span.stone &bull;
                span.stone &bull;
                span.stone &bull;
                span.wheat &bull;
                span.wheat &bull;
            li
              a#road
                i.icon-road
                | Road
                span.brick &bull;
                span.wood  &bull;
            li
              a#development
                i.icon-book
                | Development
                span.stone &bull;
                span.wheat &bull;
                span.sheep &bull;
        .btn-group
          button.btn.trade
            | Trade <span class="caret" />
      .btn-toolbar.main-phase
        .btn-group
          button.btn.development
            | Development <span class="caret" />
        .btn-group
          button.btn.end End

block others
  #player1.player.well
    h2.name Empty
    .opponentcardwell
      .opponentcards
        ul.resource-cards
  #player2.player.well
    h2.name Empty
    .opponentcardwell
      .opponentcards
        ul.resource-cards
  #player3.player.well
    h2.name Empty
    .opponentcardwell
      .opponentcards
        ul.resource-cards

block messages
  .message.well
    h2 Messages
    #messages
    form#messageForm
      input#messageInput(type="text")

block extras
