/**
 * Board Stylesheet
 *
 * All the stylings needed for the SVG element and the
 * things it contains.
 */


/**
 * SVG
 */

#board {
  width: 100%;
  height: 100%;
}


/**
 * Hexes
 */

#board .hex.Water    polygon { fill:              cyan; }
#board .hex.Sea      polygon { fill: darkcyan; stroke: darkgray; stroke-width: 1; }
#board .hex          polygon { stroke-width: 3; stroke: black; }
#board .hex.hover    polygon { fill-opacity: .5; }


/**
 * Number Tokens
 */

#board .numberToken.number6 circle,
#board .numberToken.number8 circle {
  fill: tomato;
}

#board .numberToken.number2 circle,
#board .numberToken.number12 circle {
  fill: skyblue;
}

#board .numberToken.highlight circle {
  fill: lime;
}

#board .numberToken circle {
  fill: moccasin;
  fill-opacity: .6;
  stroke: black;
  stroke-width: 3;
}

#board .numberToken text {
  font-size: 28px;
  font-family: Arial Black;
  text-anchor: middle;
  stroke-width: 1;
}
#board .numberToken.desert circle {
  display: none;
}
/**
  * Robber
  */
#board .numberToken.robber circle {
  display:inline;
  fill: black;
  fill-opacity: .9;
}

#board .numberToken.robber text {
  fill: #FFFFFF;
  stroke-width: 1;
}
#board .numberToken.robber.highlight circle {
  fill: lime;
}
#rob {
  background-color: black;
  position: fixed;
  opacity: .9;
}

/**
 * Intersections
 */

#board circle.intersection {
  fill: black;
  fill-opacity: .65;
  stroke-width: 0;
}

#board circle.intersection.selectable {
  fill: grey;
}

#board circle.intersection.hover {
  fill: white;
}

/**
 * Ports
 */

#board .port.hover   circle { fill-opacity:.6 }
#board .port         circle {
  fill-opacity: .9;
  stroke: black;
  stroke-width: 2;
}

#board .port path {
  stroke: black;
  stroke-width: 7;
  stroke-opacity:.6;
  fill-opacity: 0;
}

#board .port.hover path {
  stroke-opacity: .4;
}

#board .port text{
  font-size: 14px;
  font-family: Arial Black;
  text-anchor: middle;
  fill: white;
}


/**
 * Edges
 */

#board line.edge {
  stroke: black;
  stroke-opacity: .8;
  stroke-width: 7;
}

#board line.edge.selectable {
  stroke: grey;
}

#board line.edge.hover {
  stroke: white;
}


/**
 * Player Colors
 */

/* Player 0 */
#board line.road.player0 { stroke: blue; }
#board circle.city.player0,
#board circle.settlement.player0 { fill: blue; }

/* Player 1 */
#board line.road.player1 { stroke: yellow; }
#board circle.city.player1,
#board circle.settlement.player1 { fill: yellow; }

/* Player 0 */
#board line.road.player2 { stroke: red; }
#board circle.city.player2,
#board circle.settlement.player2 { fill: red; }

/* Player 0 */
#board line.road.player3 { stroke: orange; }
#board circle.city.player3,
#board circle.settlement.player3 { fill: orange; }


/**
 * Settlements
 */

#board circle.settlement {
  stroke-width: 0;
}

#board circle.settlement.selectable {
  fill: grey;
}

#board circle.settlement.hover {
  fill: white;
}

#board circle.settlement { display: none; }


/**
 * Cities
 */

#board circle.city {
  stroke-width: 10;
  stroke: black;
}

#board circle.city.selectable {
  fill: grey;
}

#board circle.city.hover {
  fill: white;
}

#board circle.city { display: none; }


/**
 * Roads
 */

#board line.road {
  stroke-width: 10;
}

#board line.road.selectable {
  stroke: grey;
}

#board line.road.hover {
  stroke: white;
}

#board line.road { display: none; }


/**
 * Debugging Info
 */

#board .debug.hex          circle { fill: pink; }
#board .debug.edge         circle { fill: orange; }
#board .debug.intersection circle { fill: yellow; }
#board .debug.port         circle { fill: lightblue; }
#board .debug              circle { stroke: black; stroke-width: 1; fill-opacity: 1; }

#board .debug.hex text { font-size: 36px; }
#board .debug     text {
  fill: black;
  font-size: 11px;
  font-family: Arial Black;
  text-anchor: middle;
}

#board .debug { display: none; }
