body {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.info-container {
  padding: 20px;
}

svg {
  width: 100%;
  height: 100%;
}

/**
 * Hexes
 */

svg g.hex.Sheep  polygon { fill: url(#sheep) lightgreen; }
svg g.hex.Wood   polygon { fill: url(#wood) forestgreen; }
svg g.hex.Wheat  polygon { fill: url(#wheat) khaki; }
svg g.hex.Stone  polygon { fill: url(#ore) rgb(36, 36, 36); }
svg g.hex.Brick  polygon { fill: url(#brick) orangered; }
svg g.hex.Desert polygon { fill: url(#desert) gold; }
svg g.hex.Water  polygon { fill: cyan; }
svg g.hex.Sea    polygon { fill: darkcyan; stroke: darkgray; stroke-width: 1; }
svg g.hex        polygon { stroke-width: 3; stroke: black; }
svg g.hex.hover  polygon { fill-opacity: .5; }

/**
 * Number Tokens
 */

svg g.numberToken.number6 circle,
svg g.numberToken.number8 circle {
  fill: tomato;
}

svg g.numberToken.number2 circle,
svg g.numberToken.number12 circle {
  fill: skyblue;
}

svg g.numberToken circle {
  fill: moccasin;
  fill-opacity: .6; 
  stroke: black;
  stroke-width: 3;
}

svg g.numberToken text {
  font-size: 28px;
  font-family: Arial Black;
  text-anchor: middle;
  stroke-width: 1;
}

/**
 * Intersections
 */

svg circle.intersection {
  fill: black;
  fill-opacity: .65;
  stroke-width: 0;
}

svg circle.intersection.hover {
  fill: white;
  stroke:white;
}

/**
 * Port circles
 */
svg circle.port {
  fill-opacity:.95;
  stroke: black;
  stroke-width:2;
}
svg circle.port.Any31 {  fill: white; }
svg circle.port.Sheep21 {  fill: url(#sheep) orangered; }
svg circle.port.Wood21 {  fill: url(#wood) forestgreen; }
svg circle.port.Brick21 {  fill: url(#brick); }
svg circle.port.Stone21 {  fill: url(#ore) darkgray; }
svg circle.port.Wheat21 {  fill: url(#wheat) yellow; }

svg text.port{
  font-size: 14px;
  font-family: Arial Black;
  text-anchor: middle;
  fill: white;
}
svg text.port.Any31{
  fill: black;
}

/**
 * Paths
 */

svg line.path {
  stroke: black;
  stroke-opacity: .8;
  stroke-width: 7;
}


svg line.path.Any31 { stroke: white; }
svg line.path.Sheep21 {  stroke: white; }
svg line.path.Wood21 {  stroke: white; }
svg line.path.Brick21 {  stroke: white; }
svg line.path.Stone21 {  stroke: white; }
svg line.path.Wheat21 {  stroke: white; }


svg line.path.hover {
  fill: white;
  stroke: white;
}

#messages {
  height: 50px;
  overflow: auto;
}

#messageForm {
  margin:0;
}

#messageInput {
  width: 100%;
  margin:0;
}
