body {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.info-container {
  padding: 20px;
}

svg {
  width: 100%;
  height: 100%;
}

/**
 * Hexes
 */

svg g.hex.Sheep  polygon { fill: url(#sheep) lightgreen; }
svg g.hex.Wood   polygon { fill: url(#wood) forestgreen; }
svg g.hex.Wheat  polygon { fill: url(#wheat) khaki; }
svg g.hex.Stone  polygon { fill: url(#ore) rgb(36, 36, 36); }
svg g.hex.Brick  polygon { fill: url(#brick) orangered; }
svg g.hex.Desert polygon { fill: url(#desert) gold; }
svg g.hex.Water  polygon { fill: cyan; }
svg g.hex.Sea    polygon { fill: darkcyan; stroke: darkgray; stroke-width: 1; }
svg g.hex        polygon { stroke-width: 3; stroke: black; }
svg g.hex.hover  polygon { fill: white; }

/**
 * Number Tokens
 */

svg g.numberToken.number6 circle,
svg g.numberToken.number8 circle {
  fill: salmon;
}

svg g.numberToken.number2 circle,
svg g.numberToken.number12 circle {
  fill: skyblue;
}

svg g.numberToken circle {
  fill: white;
  stroke: black;
  stroke-width: 3;
}

svg g.numberToken text {
  font-size: 36px;
  font-family: Impact, Charcoal, sans-serif;
  text-anchor: middle;
  stroke-width: 4;
}

/**
 * Intersections
 */

svg circle.intersection {
  fill: black;
  stroke-width: 0;
}

svg circle.intersection.hover {
  fill: white;
  stroke:white;
}

/**
 * Paths
 */

svg line.path {
  stroke: black;
  stroke-width: 7;
}

svg line.path.hover {
  fill: white;
  stroke: white;
}

#messages {
  height: 50px;
  overflow: auto;
}

#messageForm {
  margin:0;
}

#messageInput {
  width: 100%;
  margin:0;
}
