/**
 * Board Stylesheet
 *
 * All the stylings needed for the SVG element and the
 * things it contains.
 */


/**
 * SVG
 */

#board {
  width: 100%;
  height: 100%;
}


/**
 * Hexes
 */

#board .hex.Water    polygon { fill:              cyan; }
#board .hex.Sea      polygon { fill: darkcyan; stroke: darkgray; stroke-width: 1; }
#board .hex          polygon { stroke-width: 3; stroke: black; }
#board .hex.hover    polygon { fill-opacity: .5; }


/**
 * Number Tokens
 */

#board .numberToken.number6 circle,
#board .numberToken.number8 circle {
  fill: tomato;
}

#board .numberToken.number2 circle,
#board .numberToken.number12 circle {
  fill: skyblue;
}

#board .numberToken circle {
  fill: moccasin;
  fill-opacity: .6;
  stroke: black;
  stroke-width: 3;
}

#board .numberToken text {
  font-size: 28px;
  font-family: Arial Black;
  text-anchor: middle;
  stroke-width: 1;
}


/**
 * Intersections
 */

#board circle.intersection {
  fill: black;
  fill-opacity: .65;
  stroke-width: 0;
}

#board circle.intersection.hover {
  fill: white;
  stroke:white;
}


/**
 * Ports
 */

#board .port.hover   circle { fill-opacity:.6 }
#board .port         circle {
  fill-opacity: .9;
  stroke: black;
  stroke-width: 2;
}

#board .port path {
  stroke: black;
  stroke-width: 7;
  stroke-opacity:.6;
  fill-opacity: 0;
}

#board .port.hover path {
  stroke-opacity: .4;
}

#board .port text{
  font-size: 14px;
  font-family: Arial Black;
  text-anchor: middle;
  fill: white;
}


/**
 * Edges
 */

#board line.edge {
  stroke: black;
  stroke-opacity: .8;
  stroke-width: 7;
}

#board line.edge.hover {
  fill: white;
  stroke: white;
}


/**
 * Debugging Info
 */

#board .debug.hex          circle { fill: pink; }
#board .debug.edge         circle { fill: orange; }
#board .debug.intersection circle { fill: yellow; }
#board .debug.port         circle { fill: lightblue; }
#board .debug              circle { stroke: black; stroke-width: 1; fill-opacity: 1; }

#board .debug.hex text { font-size: 36px; }
#board .debug     text {
  fill: black;
  font-size: 11px;
  font-family: Arial Black;
  text-anchor: middle;
}

#board .debug { display: none; }
