
/**
 * Page Layout
 */

body {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.info-container {
  padding: 20px;
}

svg {
  width: 100%;
  height: 100%;
}

#messages {
  height: 50px;
  overflow: auto;
}

#messageForm {
  margin:0;
}

#messageInput {
  width: 100%;
  margin:0;
}


/**
 * Hexes
 */

.hex.Pasture  polygon { fill: url(#sheep)  lightgreen; }
.hex.Forest   polygon { fill: url(#wood)   forestgreen; }
.hex.Field    polygon { fill: url(#wheat)  khaki; }
.hex.Mountain polygon { fill: url(#ore)    rgb(36, 36, 36); }
.hex.Hill     polygon { fill: url(#brick)  orangered; }
.hex.Desert   polygon { fill: url(#desert) gold; }
.hex.Water    polygon { fill:              cyan; }
.hex.Sea      polygon { fill:              darkcyan; stroke: darkgray; stroke-width: 1; }
.hex          polygon { stroke-width: 3; stroke: black; }
.hex.hover    polygon { fill-opacity: .5; }


/**
 * Number Tokens
 */

svg g.numberToken.number6 circle,
svg g.numberToken.number8 circle {
  fill: tomato;
}

svg g.numberToken.number2 circle,
svg g.numberToken.number12 circle {
  fill: skyblue;
}

svg g.numberToken circle {
  fill: moccasin;
  fill-opacity: .6;
  stroke: black;
  stroke-width: 3;
}

svg g.numberToken text {
  font-size: 28px;
  font-family: Arial Black;
  text-anchor: middle;
  stroke-width: 1;
}


/**
 * Intersections
 */

svg circle.intersection {
  fill: black;
  fill-opacity: .65;
  stroke-width: 0;
}
/*
svg circle.intersection.hover {
  fill: white;
  stroke:white;
}*/


/**
 * Ports
 */

.port.Any31   circle{ fill: url(#market) pink; }
.port.Sheep21 circle { fill: url(#sheep)  lime; }
.port.Wood21  circle { fill: url(#wood)   forestgreen; }
.port.Brick21 circle { fill: url(#brick)  redorange; }
.port.Stone21 circle { fill: url(#ore)    black; }
.port.Wheat21 circle { fill: url(#wheat)  yellow; }
.port         path { stroke: black; stroke-width: 7;stroke-opacity:.6; fill:white }
.port.hover   path { stroke-opacity: .4; }
.port.hover   circle { fill-opacity:.6 }
.port circle {
  fill-opacity: .9;
  fill: black;
  stroke: black;
  stroke-width: 2;
}

.port text{
  font-size: 14px;
  font-family: Arial Black;
  text-anchor: middle;
  fill: white;
}


/**
 * Paths
 */

svg line.path {
  stroke: black;
  stroke-opacity: .8;
  stroke-width: 7;
}

svg line.path.hover {
  fill: white;
  stroke: white;
}

#startBackground {
  position: fixed;
  height: 100%;
  width: 66%;
  top:0;
  left:0;
  opacity:.7;
  background:#000000;
  border: 1px solid #cecece;
  z-index: 1;
}
#start {
  position: fixed;
  width: 26%;
  height: 10%;
  top: 44%;
  left: 18.8%;
  font-size: 55px;
  opacity: .8;
  background-color:#CD0000;
  color:#FFFFFF;
  z-index:2;
}

/* player wells */
.cardwell {
  width: 90%;
  height: 210px;
  position: relative;
}
.cards, .roll, .trade, .end, .build, .dev_cards {
  moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.07);
  background-color: white;
  position:absolute;
  opacity: 0.4;
}

.cards {
  top: 0px;
  width: 98%;
  height: 100px;
}

.roll, .trade, .end, .build {
  width: 15%;
  height: 40px;
}
.roll, .trade {
  top: 120px;
}
.trade, .build {
  left: 17%;
}
.end, .build {
  top: 165px;
}
.dev_cards {
  top: 110px;
  right: 0;
  width: 63%;
  height: 100px;
}

/* building popup */
#popupBackground {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background:#000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#buildPopup {
  display: none;
  position: fixed;
  height: 30%;
  width: 60%;
  top: 35%;
  left: 20%;
  background:#FFFFFF;
  border: 3px solid #cecece;
  z-index: 2;
  margin-top:12px;
  font-size:13px;
}

#popupClose {
  font-size: 20px;
  right: 6px;
  top: 4px;
  position: absolute;
  color: #6fa5fd;
  font-weight: 700;
  display: block;
}
#settlement, #city, #road, #ship, #devcard {
  height: 60%;
  top: 15%;
  width: 17%;
  position: absolute;
  background-color: beige;
  moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.07);
}
#settlement {
  left: 1%;
}
#city {
  left: 21%;
}
#road {
  left: 41%;
}
#ship {
  left: 61%;
}
#devcard {
  left: 81%;
}
.buildResource {
  float: left;
  width: 15%;
  height: 18%;
  bottom: 5%;
  moz-border-radius: 15px;
  border-radius: 15px;
  border: 3px solid rgba(0, 0, 0, 0.5);
}
.buildResource.wood { background: url(#wood) forestgreen; }
.buildResource.brick { background: red; }
.buildResource.sheep { background: url(#brick) lime; }
.buildResource.wheat { background: url(#brick) yellow; }
.buildResource.stone { background: url(#brick) black; }


/**
 * Debugging Info
 */

.debug.hex          circle { fill: pink; }
.debug.path         circle { fill: orange; }
.debug.intersection circle { fill: yellow; }
.debug.port         circle { fill: lightblue; }
.debug              circle { stroke: black; stroke-width: 1; fill-opacity: 1; }

.debug.hex text { font-size: 36px; }
.debug     text {
  fill: black;
  font-size: 11px;
  font-family: Arial Black;
  text-anchor: middle;
}

.debug { display: none; }
