
/**
 * Page Layout
 */

body {
  width: 100%;
  height: 100%;
  background: url('http://farm6.staticflickr.com/5065/5552558449_e918f39364_o.jpg');
  background-size: 150px 150px;
  background-repeat: repeat;

  //min-width: 800px;
  //min-height: 600px;
}

body {font-size:75%;}  /* Set the size of 1em to 12px in all browsers */

.container-fluid {
  padding: 0;
}

.info-container {
  /*padding: 20px;*/
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  width:40%;
  box-shadow: -5px 0px 25px 0px #000;
  z-index:5;
}

#messages {
  height: 50px;
  overflow: auto;
}

#messageForm {
  margin:0;
}

#messageInput {
  width: 100%;
  margin:0;
}

#player0 {
  height:34%;
  width: 50%;
  position:static;
  float: left;
}

.others, .message {
  position:static;
  height:66%;
  width: 100%;
}
.opponentvideo {
  float: left;
  height:100%;
  display:none;
}
#player1, #player2, #player3 {
  position:static;
  width:100%;
  height:33.333333333%;
  float:left;
}

/* player mywells */
.mywell {
  background-color:#f5f5f5;
  border: 1px solid black;
}

.player, .message {
  padding: 5%;
  position: relative;
  //////border-color: whiteSmoke;
  z-index: 3;
  -webkit-border-radius:0px;
  -border-radius:0px;
}

.message {
    height:28%;
}
.actions.disabled, .player.mywell.disabled {
  opacity: .6;
}
.opponent.mywell {
  background-color: black;
  opacity: .6;
}

.name {
  color: #333;
  font-size: 1.5em;
}
.name.highlight {
  color: lime;
}

.player .left {
  float: left;
  width: 220px;
  text-align: left;
}

.player .right {
  float:left;
  margin-right: 10px;
  min-width: 200px;
  padding: 10px;
}
.opponent .right {
  display:none;
}

.player .pic {
  //height: 150px;
  //width: 200px;
}

.player {
  /*min-width: 305px;*/
  /*min-height: 100px;*/
  height:100%;
  padding: 0%;
  margin-bottom:0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
}

.video {
  max-width: 100%;
  max-height: 100%;
  display: block;
  float: left;
}

/**
 * Dice Image
 */

.board-container {
  position: relative;
}

#dice-image-container {
  position: fixed;
  height: 22%;
  top: 0%;
  left: 0%;
  z-index: 5;
}



/**
 * Action Buttons
 */
.trade-actions {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 3;
}
.actions {
  position: static;
  height:34%;
  width: 50%;
  /*border: 3px solid black;*/
  /*moz-border-radius: 3px;
      border-radius: 3px;*/
  padding: 0px;
  float: left;
  background: whiteSmoke;
  text-align: center;
  /*margin-bottom: 20px;*/
  z-index: 3;
}

.actions .roll-phase,
.actions .main-phase, .frequency-toolbar {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.actions .btn-toolbar {
  margin: 5px;
  display: none;
}

.actions .btn {
width: 10em;
font-size: 1em;
}

.actions .btn.big {
  width: 20em;
  font-size: 1em;
}

.actions .dropdown-menu {
  text-align: left;
}

.actions .dropdown-menu .disabled {
  background-color:#d9d9d9 !important;
  color:#aaa !important;
}

.actions span.wheat { color: khaki }
.actions span.wood  { color: forestgreen }
.actions span.sheep { color: lime }
.actions span.brick { color: orangered }
.actions span.stone { color: grey }


/**
 * Starting Dramatics
 */

#startBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  opacity:.7;
  background:#000000;
  border: 1px solid #cecece;
  z-index: 4;
}

#start, #win {

  /* overall position */
  position: fixed;
  z-index: 5;

  /* horizontal position */
  width: 8em;
  left: 29%;
  margin-left: -4em;
  
  /* vertical position */
  height: 2em;
  top: 50%;
  margin-top: -1em;

  /* text */
  font-size: 5em;
  padding: 0;

  /* color */
  opacity: .8;
  background-color:#CD0000;
  color:#FFFFFF;
}

#winSpace {
  display:none;
  width: 100%;
  height: 20px;
}
#lobby {
  display:none;
  z-index: 5;
  padding: 10px;
}
#win {
  border-color: rgba(0, 0, 0, 0.1);
  padding: 9px 14 px;
  height: 15%;
  -webkit-border-radius: 5px;
  mox-border-radius: 5px;
  board-radius: 5px;
  display: none;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  border: 1px solid #CCC;
}
#win.won{
  background-color: #00CD00;
}
#win.loss {
  background-color: #CD0000;
}

/**
 * Points
 */

.points .highlight {
  font-weight: bold;
}


/**
 * Resource Cards
 */

.cards {
  margin: auto;
  padding: 0;
  height: 34px;
}

.cards .card {
  display:none;
  float: left;
  margin-right: 7px;
}
.cards .trade-card, .cards .showtrade-card, .cards .remove-card, .cards .update-card {
  float: left;
  margin-right: 7px;
}

.cards .sheep-card,
.cards .wheat-card,
.cards .wood-card,
.cards .brick-card,
.cards .stone-card,
.cards .resource-card,
.cards .development-card {
  height: 2.4em;
  width:  1.6em;
  border: 3px solid black;
  moz-border-radius: 3px;
      border-radius: 3px;
}

.cards .card .card-number, .cards .trade-card .card-number, .cards .showtrade-card .card-number, .cards .remove-card .card-number, .cards .update-card .card-number {
  text-align: center;
}

.cards .wood-card        { background: url('http://www.cs.princeton.edu/~dcapra/forest.jpg') bottom left; }
.cards .wheat-card       { background: url('http://www.cs.princeton.edu/~dcapra/hay.jpg'); }
.cards .sheep-card       { background: url('http://www.cs.princeton.edu/~dcapra/pasture.jpg') top right; }
.cards .brick-card       { background: url('http://www.cs.princeton.edu/~dcapra/clay.jpg'); }
.cards .stone-card       { background: url('http://i.imgur.com/llQvw.jpg'); }
.cards .resource-card    { background: url('../images/favicon.ico') no-repeat; background-size:100%; background-color: white;}
.cards .development-card { background: gold; }

.clearBoth {clear:both;}
.clearRight {clear:right;}
.clearLeft {clear:left;}


/**
 * Points
 */

.points {
  margin: auto;
  padding: 0;
  height: 34px;
}

.points .victory-points,
.points .army-points,
.points .road-points {
  float: left;
  margin-right: 10px;
  text-align: center;
}

/*****
  * trade popup
  *****/
.update-mywell {
  height: 100%;
  padding: 0%;
  position: relative;
}
.update-container, .trade-container, .showtrade-container, .remove-container {
  display: none;
  position: absolute;
  top: 0%;
  right: 2%;
  width: 300px;
  height: 170px;
  /*
  width: 22.91%;
  height: 21%;
  */
  background-color: rgba(0, 0, 0, .6);
  border: 2px solid black;
  moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 5;
}
.update-container {
  width: 230px;
  height: 100px;
  z-index: -1;
}

.x {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 25px;
  fill: #00CD00;
  cursor: pointer;
}

.showtrade-container.rejected, .showtrade-container.reject, .update-cards.lost {
  background-color: rgb(250, 0, 0);
  background-color: rgba(250, 0, 0,.7);
}
.showtrade-container.accepted,  .showtrade-container.accept, .update-cards.received {
  background-color: rgb(0, 250, 0);
  background-color: rgba(0, 250, 0,.7);
}
.update-popup, .trade-popup, .showtrade-popup, .remove-popup {
  position:relative;
  border: 2px solid black;
  background-color: whiteSmoke;
  top:5%;
  left: 5%;
  height: 70%;
  width: 90%;
}
.update-popup {
  height: 90%;
}
.trade-text {
  width: 30%;
  height: 100%;
}
.trade-text p {
  text-align: left;
  vertical-align: middle;
  font-size: 17px;
}

.update-cards, .lost-cards, .offer-cards, .for-cards {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 45%;
}
.update-cards {
  height: 90%;
  moz-border-radius: 5px;
  border-radius: 5px;
}
.remove-cards {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
.trade-container .for-cards {
  top: 55%;
}
.others .offer-cards {
  top: 55%;
}

.cards.trade {
  position: absolute;
  top: 0%;
  left: 30%;
}
.cards.received {
  position: absolute;
  top: 5%;
  left: 5%;
}

/*****
  * frequency chart
  *****/
.frequency-container {
  position: absolute;
  display: none;
  top: 3%;
  right: 2%;
  width: 22.91%;
  height: 19%;
  background-color: whiteSmoke;
  border: 2px solid black;
  moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 0;
  background-color: rgba(0, 0, 0, .6);
}
.bar-container, #list-container {
  position:relative;
  border: 2px solid black;
  top:5%;
  left: 5%;
  height: 60%;
  width: 90%;
  background-color: white;
}
.bartext {
  color: white;
}
#list-container {
  height: 70%;
  overflow: scroll;
  overflow-x: hidden;
  display:none;
}
.label-container {
  position:relative;
  border: 2px solid black;
  bottom :-5%;
  left: 5%;
  height: 10%;
  width: 90%;
  background-color: white;
}
.rollElement {
  background-color: whiteSmoke;
  text-align: center;
  width: 98%;
  position: relative;
  left: 1%;
  border: 2px solid black;
  height: 25%;
  line-height: 2;
}
.bar-padding, .label-padding {
  float: left;
  width: 5%;
  height: 100%;
}
.bars {
  position: relative;
  float: left;
  width: 8.39%;
  height: 100%;
}
.bar {
  position:absolute;
  bottom: 0px;
  width: 80%;
  height: 0%;
  background-color: #1589FF;
  border: 1px solid black;
}
.frequency-label {
  float:left;
  width: 8.39%;
  height: 100%;
  text-align: center;
}
#frequencyChart {
  position: absolute;
  top: 25%;
  right: 5%;
  max-height: 8%;
  max-width: 35%;
  opacity: .2;
}
#frequencyChart img {
  width: 100%;
}
