
/**
 * Page Layout
 */

body {
  width: 100%;
  height: 100%;
  background: url('http://farm6.staticflickr.com/5065/5552558449_e918f39364_o.jpg');
  background-size: 150px 150px;
  background-repeat: repeat;
}

.container-fluid {
  padding: 0;
}

.info-container {
  padding: 20px;
}

#messages {
  height: 50px;
  overflow: auto;
}

#messageForm {
  margin:0;
}

#messageInput {
  width: 100%;
  margin:0;
}

/**                                   
 * Dice Image
 */

.board-container {
  position: relative;
}

#dice-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left:-128px;
  margin-top:-128px;
}



/**
 * Action Buttons
 */

.actions {
  text-align: center;
}

.actions .roll-phase,
.actions .main-phase {
  text-align: center;
  width: inherit;
  display: inline-block;
}

.actions .btn-toolbar {
  margin-bottom: 0px;
  display: none;
}

.actions .btn {
  width: 120px;
}
.actions .btn.big {
  width: 240px;
}

.actions .dropdown-menu {
  text-align: left;
}

.actions .dropdown-menu .disabled {
  background-color:#d9d9d9 !important;
  color:#aaa !important;
}

.actions span.wheat { color: khaki }
.actions span.wood  { color: forestgreen }
.actions span.sheep { color: lime }
.actions span.brick { color: orangered }
.actions span.stone { color: grey }


/**
 * Starting Dramatics
 */

#startBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  opacity:.7;
  background:#000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#start {
  position: fixed;
  width: 26%;
  height: 10%;
  top: 44%;
  left: 18.8%;
  font-size: 55px;
  opacity: .8;
  background-color:#CD0000;
  color:#FFFFFF;
  z-index:2;
}

/* player wells */
.player, .message {
  position: relative;
  border: 3px solid;
  border-color: black;
  z-index: 3;

}

.player.well.disabled {
  opacity: .6;
}
.name {
  color: #333;
}
.name.highlight {
  color: lime;
}

/* card wells */
.cardwell {
  width: 90%;
  height: 120px;
  position: relative;
}
.opponentcardwell {
  width: 90%;
  height: 50px;
  position: relative;
}
.cards, .opponentcards {
  moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.07);
  background-color: white;
  position:absolute;
}

.cards {
  top: 0px;
  width: 98%;
  height: 100px;
}

.opponentcards {
  top: 0px;
  width: 50%;
  height: 50px;
}

/**
 * Resource Cards
 */

ul.resource-cards {
  position: absolute;
  top:10%;
  left: 1%;
  height: 80%;
}

ul.resource-cards li { display: inline; }

ul.resource-cards li .sheep-card,
ul.resource-cards li .wheat-card,
ul.resource-cards li .wood-card,
ul.resource-cards li .brick-card,
ul.resource-cards li .stone-card,
ul.resource-cards li .resource-card {
  float: left;
  height: 100%;
  width:  40px;
  border: 2px solid black;
  moz-border-radius: 3px;
      border-radius: 3px;
  margin-left: -10px;
}

.opponentcards ul.resource-cards li .sheep-card,
.opponentcards ul.resource-cards li .wheat-card,
.opponentcards ul.resource-cards li .wood-card,
.opponentcards ul.resource-cards li .brick-card,
.opponentcards ul.resource-cards li .stone-card,
.opponentcards ul.resource-cards li .resource-card {
  width: 20px;
}
ul.resource-cards li .wood-card     { background: forestgreen; }
ul.resource-cards li .wheat-card    { background: khaki; }
ul.resource-cards li .sheep-card    { background: lime; }
ul.resource-cards li .brick-card    { background: orangered; }
ul.resource-cards li .stone-card    { background: grey; }
ul.resource-cards li .resource-card { background: blue }

/*****
  * frequency chart 
  *****/
.frequency-container {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 22.91%;
  height: 19%;
  background-color: whiteSmoke;
  border: 2px solid black;
  moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 2;
}
.bar-container {
  position:relative;
  border: 2px solid black;
  top:5%;
  left: 5%;
  height: 70%;
  width: 90%;
}
.label-container {
  position:relative;
  border: 2px solid black;
  bottom :-5%;
  left: 5%;
  height: 10%;
  width: 90%;
}
.bar-padding, .label-padding {
  float: left;
  width: 5%;
  height: 100%;
}
.bars {
  position: relative;
  float: left;
  width: 8.39%;
  height: 100%;
}
.bar {
  position:absolute;
  bottom: 0px;
  width: 80%;
  height: 0%;
  background-color: #1589FF;
  border: 1px solid black;
}
.frequency-label {
  float:left;
  width: 8.39%;
  height: 100%;
  text-align: center;
}
#frequencyChart {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 20%;
  height: 50%;
  opacity: .2;
}
#frequencyChart img {
  width: 100%;
}