
/**
 * Page Layout
 */

body {
  width: 100%;
  height: 100%;
  background: url('http://farm6.staticflickr.com/5065/5552558449_e918f39364_o.jpg');
  background-size: 150px 150px;
  background-repeat: repeat;
}

.container-fluid {
  padding: 0;
}

.info-container {
  padding: 20px;
}

#messages {
  height: 50px;
  overflow: auto;
}

#messageForm {
  margin:0;
}

#messageInput {
  width: 100%;
  margin:0;
}

/**
 * Dice Image
 */

.board-container {
  position: relative;
}

#dice-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left:-128px;
  margin-top:-128px;
}



/**
 * Action Buttons
 */
.trade-actions {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 3;
}
.actions {
  position: relative;
  border: 3px solid black;
  moz-border-radius: 3px;
      border-radius: 3px;
  padding: 10px;
  min-width: 275px;
  background: whiteSmoke;
  text-align: center;
  margin-bottom: 20px;
  z-index: 3;
}

.actions .roll-phase,
.actions .main-phase {
  text-align: center;
  width: inherit;
  display: inline-block;
}

.actions .btn-toolbar {
  margin: 0px;
  display: none;
}

.actions .btn {
  width: 120px;
}
.actions .btn.big {
  width: 240px;
}

.actions .dropdown-menu {
  text-align: left;
}

.actions .dropdown-menu .disabled {
  background-color:#d9d9d9 !important;
  color:#aaa !important;
}

.actions span.wheat { color: khaki }
.actions span.wood  { color: forestgreen }
.actions span.sheep { color: lime }
.actions span.brick { color: orangered }
.actions span.stone { color: grey }


/**
 * Starting Dramatics
 */

#startBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  opacity:.7;
  background:#000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#start {
  position: fixed;
  width: 26%;
  height: 10%;
  top: 44%;
  left: 18.8%;
  font-size: 55px;
  opacity: .8;
  background-color:#CD0000;
  color:#FFFFFF;
  z-index:2;
}

/* player wells */
.player, .message {
  position: relative;
  border: 3px solid;
  border-color: black;
  z-index: 3;
}

.player.well.disabled {
  opacity: .6;
}
.name {
  color: #333;
}
.name.highlight {
  color: lime;
}

.player {
  min-width: 305px;
  min-height: 100px;
  padding: 0px;
}

.player .left {
  float: left;
  width: 75px;
  text-align: center;
}

.player .right {
  float:left;
  margin-right: 10px;
  min-width: 200px;
  padding: 10px;
}

.player .pic {
  height: 75px;
  width: 75px;
}

/**
 * Points
 */

.points .highlight {
  font-weight: bold;
}


/**
 * Resource Cards
 */

.cards {
  margin: auto;
  padding: 0;
  height: 34px;
}

.cards .card {
  display: none;
  float: left;
  margin-right: 7px;
}
.cards .trade-card, .cards .showtrade-card {
  float: left;
  margin-right: 7px;
}

.cards .sheep-card,
.cards .wheat-card,
.cards .wood-card,
.cards .brick-card,
.cards .stone-card,
.cards .resource-card,
.cards .development-card {
  height: 30px;
  width:  20px;
  border: 3px solid black;
  moz-border-radius: 3px;
      border-radius: 3px;
}

.cards .card .card-number, .cards .trade-card .card-number, .cards .showtrade-card .card-number {
  text-align: center;
}

.cards .wood-card        { background: forestgreen; }
.cards .wheat-card       { background: khaki; }
.cards .sheep-card       { background: lime; }
.cards .brick-card       { background: orangered; }
.cards .stone-card       { background: grey; }
.cards .resource-card    { background: blue; }
.cards .development-card { background: gold; }

.clearBoth {clear:both;}
.clearRight {clear:right;}
.clearLeft {clear:left;}


/**
 * Points
 */

.points {
  margin: auto;
  padding: 0;
  height: 34px;
}

.points .victory-points,
.points .army-points,
.points .road-points {
  float: left;
  margin-right: 10px;
  text-align: center;
}

/*****
  * trade popup
  *****/

.trade-container, .showtrade-container {
  display: none;
  position: absolute;
  top: 3%;
  right: 2%;
  width: 300px;
  height: 170px;
  /*
  width: 22.91%;
  height: 21%;
  */
  background-color: rgba(0, 0, 0, .6);
  border: 2px solid black;
  moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 5;
}

.showtrade-container.rejected {
  background-color: rgb(175, 0, 0);
  background-color: rgba(175, 0, 0,.7);
}
.showtrade-container.accepted {
  background-color: rgb(0, 175, 0);
  background-color: rgba(0, 175, 0,.7);
}
.trade-popup, .showtrade-popup {
  position:relative;
  border: 2px solid black;
  background-color: whiteSmoke;
  top:5%;
  left: 5%;
  height: 70%;
  width: 90%;
}
.trade-text {
  width: 30%;
  height: 100%;
}
.trade-text p {
  text-align: left;
  vertical-align: middle;
  font-size: 17px;
}
.offer-cards, .for-cards {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 45%;
}
.for-cards {
  top: 55%;
}
.cards.trade {
  position: absolute;
  top: 0%;
  left: 30%;
}

/*****
  * frequency chart
  *****/
.frequency-container {
  position: absolute;
  display: none;
  top: 3%;
  right: 2%;
  width: 22.91%;
  height: 19%;
  background-color: whiteSmoke;
  border: 2px solid black;
  moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 0;
}
.bar-container {
  position:relative;
  border: 2px solid black;
  top:5%;
  left: 5%;
  height: 70%;
  width: 90%;
}
.label-container {
  position:relative;
  border: 2px solid black;
  bottom :-5%;
  left: 5%;
  height: 10%;
  width: 90%;
}
.bar-padding, .label-padding {
  float: left;
  width: 5%;
  height: 100%;
}
.bars {
  position: relative;
  float: left;
  width: 8.39%;
  height: 100%;
}
.bar {
  position:absolute;
  bottom: 0px;
  width: 80%;
  height: 0%;
  background-color: #1589FF;
  border: 1px solid black;
}
.frequency-label {
  float:left;
  width: 8.39%;
  height: 100%;
  text-align: center;
}
#frequencyChart {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 20%;
  height: 50%;
  opacity: .2;
}
#frequencyChart img {
  width: 100%;
}
