
/**
 * Page Layout
 */

body {
  width: 100%;
  height: 100%;
  background: url('http://farm6.staticflickr.com/5065/5552558449_e918f39364_o.jpg');
  background-size: 150px 150px;
  background-repeat: repeat;
}

.container-fluid {
  padding: 0;
}

.info-container {
  padding: 20px;
}

#messages {
  height: 50px;
  overflow: auto;
}

#messageForm {
  margin:0;
}

#messageInput {
  width: 100%;
  margin:0;
}


/**
 * Action Buttons
 */

.actions {
  text-align: center;
}

.actions .roll-phase,
.actions .main-phase {
  text-align: center;
  width: inherit;
  display: inline-block;
}


/**
 * Starting Dramatics
 */

#startBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  opacity:.7;
  background:#000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#start {
  position: fixed;
  width: 26%;
  height: 10%;
  top: 44%;
  left: 18.8%;
  font-size: 55px;
  opacity: .8;
  background-color:#CD0000;
  color:#FFFFFF;
  z-index:2;
}

/* player wells */
.player, .message {
  position: relative;
  border: 4px: solid;
  border-color: black;
  z-index: 3;
}
.name {
  color: #333;
}
.name.highlight {
  color: lime;
}

/* card wells */
.cardwell {
  width: 90%;
  height: 120px;
  position: relative;
}
.opponentcardwell {
  width: 90%;
  height: 50px;
  position: relative;
}
.cards, .opponentcards {
  moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.07);
  background-color: white;
  position:absolute;
}

.cards {
  top: 0px;
  width: 98%;
  height: 100px;
}

.opponentcards {
  top: 0px;
  width: 50%;
  height: 50px;
}

/* building popup */
#popupBackground {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background:#000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#buildPopup {
  display: none;
  position: fixed;
  height: 30%;
  width: 60%;
  top: 35%;
  left: 20%;
  background:#FFFFFF;
  border: 3px solid #cecece;
  z-index: 2;
  margin-top:12px;
  font-size:13px;
}

#popupClose {
  font-size: 20px;
  right: 6px;
  top: 4px;
  position: absolute;
  color: #6fa5fd;
  font-weight: 700;
  display: block;
}
#settlement, #city, #road, #ship, #development {
  height: 60%;
  top: 15%;
  width: 17%;
  position: absolute;
  background-color: beige;
  moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.07);
}
#settlement {
  left: 1%;
}
#city {
  left: 21%;
}
#road {
  left: 41%;
}
#ship {
  left: 61%;
}
#development {
  left: 81%;
}
.buildResource {
  float: left;
  width: 15%;
  height: 18%;
  bottom: 5%;
  moz-border-radius: 15px;
  border-radius: 15px;
  border: 3px solid rgba(0, 0, 0, 0.5);
}
.buildResource.wood { background: url(#wood) forestgreen; }
.buildResource.brick { background: red; }
.buildResource.sheep { background: url(#brick) lime; }
.buildResource.wheat { background: url(#brick) yellow; }
.buildResource.stone { background: url(#brick) black; }

/**
 * Resource Cards
 */

ul.resource-cards {
  position: absolute;
  top:10%;
  left: 1%;
  height: 80%;
}

ul.resource-cards li { display: inline; }

ul.resource-cards li .sheep-card,
ul.resource-cards li .wheat-card,
ul.resource-cards li .wood-card,
ul.resource-cards li .brick-card,
ul.resource-cards li .stone-card,
ul.resource-cards li .resource-card {
  float: left;
  height: 100%;
  width:  40px;
  border: 2px solid black;
  moz-border-radius: 3px;
      border-radius: 3px;
  margin-left: -10px;
}

.opponentcards ul.resource-cards li .sheep-card,
.opponentcards ul.resource-cards li .wheat-card,
.opponentcards ul.resource-cards li .wood-card,
.opponentcards ul.resource-cards li .brick-card,
.opponentcards ul.resource-cards li .stone-card,
.opponentcards ul.resource-cards li .resource-card {
  width: 20px;
}
ul.resource-cards li .wood-card     { background: forestgreen; }
ul.resource-cards li .wheat-card    { background: khaki; }
ul.resource-cards li .sheep-card    { background: lime; }
ul.resource-cards li .brick-card    { background: orangered; }
ul.resource-cards li .stone-card    { background: grey; }
ul.resource-cards li .resource-card { background: blue }
